PORT=3000
NODE_ENV=development
MONGODB_URI=
CLIENT_ORIGIN=http://localhost:5173
ENABLE_DNS_WORKAROUND=false

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d